[Unit]
Description=Buildbot Master
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --name buildbot-master \
              --publish 8010:8010/tcp \
              --mount type=bind,source=/apps/buildbot/master,target=/buildbot \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              hetsh/buildbot-master
ExecStart=/bin/docker start --attach buildbot-master
ExecStop=/bin/docker stop buildbot-master

[Install]
WantedBy=multi-user.target
